.home-container {
  height: 100%;
  background: radial-gradient(#d5dce3, #718091);
  padding: 0;

  .justify-content-md-center {
    height: 100%;
  }

  .home-submit {
    top: 20%;
    min-height: 160px;
    max-height: 200px;
    background: #ddd;
    border: 1px solid #343a40;
    box-shadow: 10px 10px 10px #333;
    padding: 30px;

    > div {
      padding: 3px 15px;
      background-color: #343a40;
      color: #fff;
      border: 1px solid #333;
    }

    form {
      height: calc(100% - 50px);
      display: flex;
      align-items: center;
      justify-content: center;
      
      > div {
        vertical-align: middle;
      }
    }
  }
}

