.panel-border {
  border: 1px solid #000;
}

.chord-panel {
  margin: auto;
  border-top: 1px solid #343a40;
  border-bottom: 1px solid #343a40;
  padding: 20px 0;

  > div:first-child {
    text-align: center;
  }
}
