.chord-diagram {
  width: 60%;

  > circle {
    fill: none;
    stroke: #333;
    stroke-width: 2;
    opacity: 0.5;
  }

  > circle.outer-rim {
    cursor: pointer;
    stroke: #888;
    stroke-width: 16;
    transition: 0.25s;
  }

  > circle.outer-rim:hover {
    opacity: 0.75;
  }

  .highlight {
    stroke: #eaed2b;
    opacity: 0.75;
  }
}