.navigation-panel {
  > a:first-child {
    border-top: 1px solid #111;
  }
  > a {
    border-bottom: 1px solid #111;
    font-weight: 700;
    color: #fff;
    transition: 0.15s ease-in-out;

    > span {
      width: 20px;
      margin-right: 0.25em;
      text-align: center;
    }
  }
  > a:hover {
    color: #ddd;
    background-color: #302f3e;
  }
  > a.active {
    background-color: #23272c ;
  }
  > a.active:hover {
    background-color: #302f3e;
  }
}
