.app-container {
  height: calc(100% - 56px);
  > .row {
    height: 100%;
    > div:first-child {
      background-color: #434a52;
      height: 100%;
      padding: 0;
      border-right: 2px solid #111;
    }
    > div:last-child {
      height: 100%;
      border-top: 1px solid #111;
    }
  }
}

.form-label {
  font-weight: 700;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}