.app-container {
  height: calc(100% - 56px);
  > .row {
    height: 100%;
    > div {
      padding: 0;
    }
    > div:first-child {
      background-color: #403a34;
      height: 100%;
      border-right: 2px solid #111;
    }
    > div:last-child {
      height: 100%;
      border-top: 1px solid #111;
      overflow: hidden;

      > div {
        height: 100%;
      }
    }
  }
}
